<div class="h-full">
  <div
    class="flex justify-center items-center h-full bg-center bg-no-repeat bg-[length:10em]"
    [class]="{
      'bg-[url(assets/loading.gif)]': isCurrentPageEmpty()
    }"
  >
    <div class="grid grid-cols-5 gap-4">
      @for (item of getPageItems(); track $index) {
        <app-list-item
          [title]="(item | async)?.name"
          [imgSrc]="(item | async)?.imageUrl"
          (itemClick)="itemClick.emit($event)"
        />
      }
    </div>
  </div>
  @if (!hidePaginator) {
    <div class="my-2">
      <app-paginator
        [totalPages]="totalPages"
        [disabled]="isCurrentPageEmpty()"
        (pageChanged)="pageChangedHandler($event)"
      />
    </div>
  }
</div>
