<div class="flex flex-row">
  <div class="flex grow">
    <button
      id="prevPageBtn"
      class="flex flex-row text-4xl hover:text-purple-900 disabled:text-gray-500"
      [disabled]="disabled || currentPage === 0"
      (click)="prevClickHandler()"
    >
      &lt; Prev
    </button>
  </div>
  <div class="flex grow justify-center">
    <div id="pageInfo" class="text-4xl">
      Page {{ currentPage + 1 }} of {{ totalPages }}
    </div>
  </div>
  <div class="flex flex-row-reverse grow">
    <button
      id="nextPageBtn"
      class="flex flex-row text-4xl hover:text-purple-900 disabled:text-gray-500"
      [disabled]="disabled || currentPage === totalPages - 1"
      (click)="nextClickHandler()"
    >
      Next &gt;
    </button>
  </div>
</div>
