@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}

body {
  display: flex;
  font-family: 'PokemonDS';
  background-color: #b3a125;
}

@font-face {
  font-family: 'PokemonDS';
  src: url(assets/pokemon-ds-font.ttf);
}